<div class="title queue stocked">STOCKED: {{stocked}}</div>
<div class="title queue spent">MONEY SPENT: {{moneySpent}}zł</div>
<div *ngFor="let item of limit">
  <div class="error">
    <div></div>
    <div>
      Sorry, we cant realise your order of {{item.wanted}}units, our limit is {{item.limit}}units
    </div>
    <button class="closeButton" (click) = "closeButton()">x</button>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="window">
      <div class="title">
        ADD
      </div>
      <div class="rowCenter">
        <div class="UIwindow">
          <div class="rowCenter">
            Amount
          </div>
          <input type="number" step="100" min="100" [(ngModel)] = "supply.amount"/>
          <div class="rowCenter">
            Price/Unit
          </div>
          <input type="number" step="0.1" min="0.1"[(ngModel)] = "supply.price"/>
          <div class="rowCenter">
            <button (click)="addToStorage()" class="myButton">+</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  <div class="column">
    <div>
      <div class="title queue">
        QUEUE (FIFO)
      </div>
    </div>
    <img [src]="startArrow" width="125">
    <div class="box" *ngFor="let item of empty">
      <img [src]="endArrow" width="125">
      <div class="textContainer">
        <div class="textOnImage">[EMPTY]</div>
      </div>
    </div>
    <div *ngFor="let item of queue">
      <app-brick-pallets [data] = "item"></app-brick-pallets>
    </div>
    <img [src]="endArrow" width="125">
  </div>
  <div class="column">
    <div class="window">
      <div class="title">
        SUBTRACT
      </div>
      <div class="rowCenter">
        <div class="UIwindow">
          <div class="rowCenter">
            Amount
          </div>
          <input type="number" step="100" min="0" [(ngModel)] = "supply.wanted"/>
          <div class="rowCenter">
            <button (click)="removeFromStorage()" class="myButton">-</button>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>