.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.rowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;

  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto";

  margin-top: 5px;
}
.textContainer {
  margin-top: -45px;

  font-size: 16px;
  font-weight: 900;
  font-family: "Roboto";
}
.textOnImage {
  display: flex;
  justify-content: center;
  font-weight: 900;
}
.box {
  display: flex;
  flex-direction: column;
  width: 125px;
}
.window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: #4f4d53;
}
.UIwindow {
  display: flex;
  flex-direction: column;
  width: 137.5px;
}
.title {
  display: flex;
  justify-content: center;

  color: #e8be02;
  font-size: 20px;
  font-weight: 900;
  font-family: "Roboto";
}
.myButton {
  width: 30px;
  height: 20px;
  border: none;
  background-color: #e8be02;
  color: #4f4d53;
}
.queue {
  font-size: 16px;

  background-color: #4f4d53;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  margin-bottom: 20px;
}
.stocked {
  margin-top: 15px;
}
.spent {
  margin-top: -25px;
  margin-bottom: 50px;
}
.error {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 25px;
  background-color: red;
  margin-top: -50px;
  margin-bottom: 50px;

  padding-top: 5px;

  color: white;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto";

  animation-name: fade;
  animation-duration: 5s;
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.6;
  }
}
.closeButton {
  height: 15px;
  border: none;
  background-color: red;

  color: white;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto";

  padding-top: -50px;
}
